extends layout

block content
  .trends
    .container
      .subtitle.text-center.mb-30
        h1.title Websites Design Trends for 2016
      .row
        .col-md-4.col-sm-6
          .boxes
            .boxes-img.text-center
              img(src="../img/trend1.png")
            .boxes-title
              h4 The Browser Is Growing Up
            .boxes-body
              p The modern browser is an operating system in its own right, no longer merely displaying documents downloaded from the web, but capable of running full­fledged web applications, and even handling peer­to- peer connections to other browsers. The need for database driven websites is evaporating quickly. Many features that required dynamic code running on a single server can now be move to the browser and the client. For website builds is a sort of back to the future.
        .col-md-4.col-sm-6
          .boxes
            .boxes-img.text-center
              img(src="../img/trend2.png")
            .boxes-title
              h4 Unique Way of Using the Grid
            .boxes-body
              p 
                a(href='http://www.curiousspace.com/', target='_blank') Curious Space
                |  ’s website is a great example of adding a pinch of organic freedom to an ordered grid layout. You’ll quickly notice the photos of this website stacked on top of each other. Stacking them isn’t a problem, as when a user rolls over on an image, the Z-index of the selected image shifts, so it is pushed to the top of the pile of photos. Upon scroll, the haphazard arrangement of their logo falls into place to spell out their company name.
        .col-md-4.col-sm-6
          .boxes
            .boxes-img.text-center
              img(src="../img/trend3.png")
            .boxes-title
              h4 Custom-Drawn Illustrations
            .boxes-body
              p
                | We’ve all thought it - “Why should I draw another [name of object] icon, when I can just grab it off an already existing vector pack from the web?” This line of thinking does save time and budget constraints, but how about integrating custom-made illustrations, or other artwork into the project budget in the first place? Sites like 
                a(href='http://creativefreedomguide.com/', target='_blank') Creative Freedom Guide
                | , 
                a(href='http://forbetter.coffee/', target='_blank') For Better Coffee
                  | , 2015 
                a(href='http://2015.dconstruct.org/', target='_blank') DConstruct Conference
                | , or 
                a(href='http://education.iceandsky.com/', target='_blank') Ice & Sky
                |  all integrate custom-made / hand-drawn illustration work that greatly aid in telling their story and leaving a memorable experience for their users.
        .col-md-4.col-sm-6
          .boxes.trends-bottom
            .boxes-img.text-center
              img(src="../img/trend4.png")
            .boxes-title
              h4 Semi-flat Design
            .boxes-body
              p Flat design has slowly morphed over the past few years to semi-flat design. After Windows launched its Metro style, the design world became inundated with this trend. Unfortunately, this style did come with its usability pitfalls. This trend has slowly morphed into semi-flat design, largely in part due to both Android’s and Apple’s releases using this type of style. By integrating depth and dimension through the use of subtle shadows, card / tile concepts, and well-thought out transitions to help guide and orient users, semi-flat design aims to eliminate the problems that flat design had created.
        .col-md-4.col-sm-6
          .boxes.trends-bottom
            .boxes-img.text-center
              img(src="../img/trend5.png")
            .boxes-title
              h4 Responsive Web Design
            .boxes-body
              p Let’s face it, after the implementation of RWD, there was no turning back. There will only be more devices sold on the market, so embracing and integrating responsive practices on websites will make the web sphere a better place for all.
        .col-md-4.col-sm-6
          .boxes.trends-bottom
            .boxes-img.text-center
              img(src="../img/trend6.png")
            .boxes-title
              h4 Lazy Loading
            .boxes-body
              p On websites that feed content continuously, Lazy Loading aids in viewing immediate website content without waiting for the entire page to load. This is especially helpful for websites that are highly visual, such as Facebook, Instagram, or Pinterest. In a society where information is constantly being fed into our lives, lazy loading helps to simplify viewing of said content by loading only small chunks at a time.
  #our-approach.our-approach
    .container
      .row
        .col-md-6.text-center
          img(class="img-responsive", src='../img/our-approach-static.jpg', alt='', width='541', height='228')
        .col-md-6
          .title-holder
            h2.title- Our Approach
            h3.sub-title Static is the new Dynamic 
          .text-body
            p Static websites are cheaper to build, to maintain and to scale if needed. It all happens automatically. No need to procure more bandwidth or larger hosting service than you need, and no need to cover for occasional traffic spikes.
          .btn-learn
            a.btn.btn-primary.btn-lg.eq-ui-waves-light(href='/static-websites') Learn More
  #web-services.web-services
    .container
      .row
        .col-md-6.text-center
          ul.list-.icon-static
            li
              p
                em
                  img(src='../img/superfast-white.png', alt='')
                  br
                  | Superfast
            li
              p
                em
                  img(src='../img/security-white.png', alt='')
                  br
                  | Secure
            li
              p
                em
                  img(src='../img/simple.png', alt='')
                  br
                  | Simple
            li
              p
                em
                  img(src='../img/cost-effective.png', alt='')
                  br
                  | Cost-effective
        .col-md-6
          .title-holder
            h2.title-.white-text Web Services
            h3.sub-title.mb-10 Static Websites
          .text-body
            ul.list-
              li
                em.fa.fa-check-circle-o   
                | Custom Designed Templates
              li
                em.fa.fa-check-circle-o   
                | Responsive Templates
              li
                em.fa.fa-check-circle-o   
                | Hosted on a Superfast CDN Network
              li
                em.fa.fa-check-circle-o   
                | Back-up and Restore
              li
                em.fa.fa-check-circle-o   
                | Unlimited Content Management Support
          .btn-learn
            a.btn.btn-primary.btn-lg.eq-ui-waves-light(href='/static-websites') Learn More
  #web-services-commerce.web-services-commerce
    .container
      .row
        .col-md-6.text-center
          img(class="img-responsive", src='../img/laptop-ecom-bg.png', alt='')
        .col-md-6
          .title-holder
            h2.title-.white-text Web Services
            h3.sub-title.mb-10 Responsive E-commerce Websites
          .text-body
            ul.list-
              li
                em.fa.fa-check-circle-o   
                | For use on desktops, tablets and smartphones
              li
                em.fa.fa-check-circle-o   
                | Fast and Secure
              li
                em.fa.fa-check-circle-o   
                | Quick & Easy Check Out Process
              li
                em.fa.fa-check-circle-o   
                | Enterprise Grade Features
              li
                em.fa.fa-check-circle-o   
                | Innovative technologies
          .btn-learn.color-fff
            a.btn.btn-primary.btn-lg.eq-ui-waves-light(href='/responsive-e-commerce-platform') Learn More
            |    or   
            a.sm-btn.btn.btn-primary.btn-lg.eq-ui-waves-light(href='http://app.webriq.com/sites/create', target='_blank') Request your own Shopping cart
          // <div class="btn-learn color-fff"><a href="/responsive-e-commerce-platform">Learn More</a>&nbsp; &nbsp;or &nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#myModal">Request your own Shopping cart</a></div>
  #projects.portfolio
    .container
      .subtitle.text-center
        h1.title Our Projects
      .row.mt-40
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/afs-resize.jpg', data-lightbox='set')
              img(title='', src='../img/afs-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/es-resize.jpg', data-lightbox='set')
              img(title='', src='../img/es-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/sofia-resize.jpg', data-lightbox='set')
              img(title='', src='../img/sofia-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/buzzin-resize.jpg', data-lightbox='set')
              img(title='', src='../img/buzzin-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/tribal-resize.jpg', data-lightbox='set')
              img(title='', src='../img/tribal-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/gundeals.jpg', data-lightbox='set')
              img(title='', src='../img/gundeals-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/sbr.jpg', data-lightbox='set')
              img(title='', src='../img/sbr-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/tymad.jpg', data-lightbox='set')
              img(title='', src='../img/tymad-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/gitek-resize.jpg', data-lightbox='set')
              img(title='', src='../img/gitek-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/advance-resize.jpg', data-lightbox='set')
              img(title='', src='../img/advance-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/blind-resize.jpg', data-lightbox='set')
              img(src='../img/blind-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/downs.jpg', data-lightbox='set')
              img(src='../img/downs-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.hidden-xs.hidden-sm  
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/healthport.jpg', data-lightbox='set')
              img(src='../img/healthport-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.hidden-xs.hidden-sm  
  #blogs.blogs
    .container
      .subtitle.mb-40
            h1.title.mt-0 Blogs
      .row
        .col-md-6.blog-left
          h2.mt-0.title-border Recent Blogs
          #home-article
            each post in posts.orderBy('date', 'desc').slice(0,2)
              article.post-article
                .article-banner
                  a(href=post.permalink)
                    img(src= post.banner)
                .article-title
                  h3
                    a(href=post.permalink)= post.title
                .article-publish
                  ul
                    li By
                      span.author-name= post.writer
                    li Posted
                      span= dateFormat(post.date, 'LL')
                .article-body
                  p= post.shortdesc
                .article-more
                  a.btn.btn-primary.btn-lg.eq-ui-waves-light(href=post.permalink) Read More
          .more-entries.mt-20
            a(href="/recent-blog") More Entries
        .col-md-6.blog-right.sm-mt
          .newsletter
            h2.title-border Join Our Newsletter
            p.mb-30
              | Subcribes to our newsletter by entering your email below to keep updated to our latest news and information.
            #mc_embed_signup.button-primary
              form#mc-embedded-subscribe-form.validate.eq-ui-input.validate(action='//webfactories.us3.list-manage.com/subscribe/post?u=8cb5583254702490f52f894ff&id=f81bd08495', method='post', name='mc-embedded-subscribe-form', novalidate='', target='_blank')
                .eq-ui-form-group.eq-ui-input-field
                  input#email_val.eq-ui-input.validate(name='EMAIL', required='', type='email', value='')
                  label(for='email_val', data-error='wrong', data-success='right') Email
                div(style='position: absolute; left: -5000px;')
                  input(name='b_8cb5583254702490f52f894ff_f81bd08495', type='text', value='')
                .clear
                  .eq-ui-form-group.eq-ui-input-field.form-btn
                    input#mc-embedded-subscribe.button.btn.btn-primary.eq-ui-waves-light(name='subscribe', type='submit', value='Subscribe')
          .social-media.mt-50
            ul.social-list
              li
                a.fb(href="https://www.facebook.com/WebFactories/", target="_blank")
                  i.fa.fa-facebook(aria-hidden='true')
              li
                a.twitter(href="https://twitter.com/Webfactories", target="_blank")
                  i.fa.fa-twitter(aria-hidden='true')
              li
                a.pinterest(href="http://pinterest.com/webfactories", target="_blank")
                  i.fa.fa-pinterest-p(aria-hidden='true')

            
