extends layout

block content

  #Trendssec.trends
    .container
      .subtitle.text-center.mb-30
        h1.title.slide-bottom Design and Web Trends for 2017
      .row
        .col-md-4.col-sm-6.slide-bottom
          .boxes.trends123.trend1
            .boxes-img.text-center
              img(src="../img/trends/adopt-mobile.png")
            .boxes-title
              h4 Adopt a mobile-first approach
            .boxes-body
              p With mobile-phones now officially named as the primary devices used for browsing the web,  more companies are realising the importance of having a site that effectively delivers content on a smaller screen. Content is designed to fit on mobile and smaller screened devices first, then you work up towards the larger-screened devices.
        .col-md-4.col-sm-6.slide-bottom
          .boxes.trends123.trend2
            .boxes-img.text-center
              img(src="../img/trends/responsive-design.png")
            .boxes-title
              h4 Wider implementation of Responsive Design
            .boxes-body
              p Very much in the same way as mobile first, the number of businesses that will implement a responsive design will still grow substantially. It keeps customers happy with an all-important user experience and it keeps Google search happy for the keyword rankings.
        .col-md-4.col-sm-6.slide-bottom
          .boxes.trends123.trend3
            .boxes-img.text-center
              img(src="../img/trends/originality.png")
            .boxes-title
              h4 Focus on originality
            .boxes-body
              p Customers and users today seek authenticity from the brands they use, and stock pictures of creatives sat around a screen, or business men smiling just won’t cut it anymore. In order for a brand to really strike a connection with it’s audience, they’ll need carefully considered and completely bespoke visuals which are more representative of who they really are. Bespoke illustrations, big and beautiful typography, and authentic photography are becoming real design differentiators.
        .col-md-4.col-sm-6.slide-bottom
          .boxes.trends-bottom.trend4
            .boxes-img.text-center
              img(src="../img/trends/animation-advance.png")
            .boxes-title
              h4 Animations advance
            .boxes-body
              p Story-telling and personality is something more and more brands are working on to capture their user’s attention, and animation is starting to play a bigger role in this. Animations come in all different shape, sizes and styles, and can all serve different purposes. Animations can range from tiny loading-devices which entertains the user while waiting for content to load, to an interesting hover-state used as a UX device to show a user they’re hovering over a link.
        .col-md-4.col-sm-6.slide-bottom
          .boxes.trends-bottom.trend5
            .boxes-img.text-center
              img(src="../img/trends/grid-cards.png")
            .boxes-title
              h4 More card and grid UI
            .boxes-body
              p Cards, made famous by Pinterest are UIs where pieces of content (text, imagery, video) are broken down into individual ‘cards’ which the user is able to navigate through. Card UIs allow brands to show larger amounts of content on a screen at once. Cards tie in nicely with Mobile-First design and Responsive design with gesture based swiping.
        .col-md-4.col-sm-6.slide-bottom
          .boxes.trends-bottom.trend6
            .boxes-img.text-center
              img(src="../img/trends/scroll-parallax.png")
            .boxes-title
              h4 Innovative scrolling and parallax
            .boxes-body
              p Scrolling, once reserved for getting from top of a page to the bottom, is being used in more creative capacities to deliver content online. Scrolling is a versatile mechanic which can work great with all varieties of content delivery. It works with video based content, where large full screen videos play and pause as the user scrolls, as well as static content, which can animate, move, or change depending on the users input.
      .row.trendsextend
        .col-md-4.col-hidden-sm
            p(style="display:none;") left
        .col-md-4.col-sm-12.slide-bottom.trend77
            .boxes-img.text-center.trend7
              img(src="../img/trends/musthave-2017.png")
            .boxes-title
              h4 Must have for 2017
            .boxes-body
              p As a business you may not be ready to implement all the trends mentioned. But what you must have going in to next year is a super fast, SSL secured, reliable and scalable website that is designed for Mobile-First. If not, your customers and Google will leave you behind.
        .col-md-4.col-hidden-sm
            p(style="display:none;") right

  #our-approach.our-approach
    .container
      .row
        .col-md-6.text-center.slide-bottom
          img(class="img-responsive", src='../img/our-approach-static.jpg', alt='', width='541', height='228')
        .col-md-6.slide-bottom
          .title-holder
            h2.title- Our Approach
            h3.sub-title Static is the new Dynamic 
          .text-body
            p Static websites are cheaper to build, to maintain and to scale if needed. It all happens automatically. No need to procure more bandwidth or larger hosting service than you need, and no need to cover for occasional traffic spikes.
          .btn-learn
            a.btn.btn-primary.btn-lg.eq-ui-waves-light(href='/static-websites') Learn More
  #web-services.web-services(data-parallax="scroll" data-image-src="../img/webservices1.jpg")
    .container
      .row
        .col-md-6.text-center
          ul.list-.icon-static
            li
              p
                em
                  img(src='../img/superfast-white.png', alt='')
                  br
                  | Superfast
            li
              p
                em
                  img(src='../img/security-white.png', alt='')
                  br
                  | Secure
            li
              p
                em
                  img(src='../img/simple.png', alt='')
                  br
                  | Simple
            li
              p
                em
                  img(src='../img/cost-effective.png', alt='')
                  br
                  | Cost-effective
        .col-md-6
          .title-holder
            h2.title-.white-text Web Services
            h3.sub-title.mb-10 Static Websites
          .text-body
            ul.list-
              li
                em.fa.fa-check-circle-o   
                | Custom Designed Templates
              li
                em.fa.fa-check-circle-o   
                | Responsive Templates
              li
                em.fa.fa-check-circle-o   
                | Hosted on a Superfast CDN Network
              li
                em.fa.fa-check-circle-o   
                | Back-up and Restore
              li
                em.fa.fa-check-circle-o   
                | Unlimited Content Management Support
          .btn-learn
            a.btn.btn-primary.btn-lg.eq-ui-waves-light(href='/static-websites') Learn More
  #web-services-commerce.web-services-commerce(data-parallax="scroll" data-image-src="../img/webservices2.jpg")
    .container
      .row
        .col-md-6.text-center
          img(class="img-responsive", src='../img/laptop-ecom-bg.png', alt='')
        .col-md-6
          .title-holder
            h2.title-.white-text Web Services
            h3.sub-title.mb-10 Responsive E-commerce Websites
          .text-body
            ul.list-
              li
                em.fa.fa-check-circle-o   
                | For use on desktops, tablets and smartphones
              li
                em.fa.fa-check-circle-o   
                | Fast and Secure
              li
                em.fa.fa-check-circle-o   
                | Quick & Easy Check Out Process
              li
                em.fa.fa-check-circle-o   
                | Enterprise Grade Features
              li
                em.fa.fa-check-circle-o   
                | Innovative technologies
          .btn-learn.color-fff
            a.btn.btn-primary.btn-lg.eq-ui-waves-light(href='/responsive-e-commerce-platform') Learn More
            |    or   
            a.sm-btn.btn.btn-primary.btn-lg.eq-ui-waves-light(href='http://app.webriq.com/sites/create', target='_blank') Request your own Shopping cart
          // <div class="btn-learn color-fff"><a href="/responsive-e-commerce-platform">Learn More</a>&nbsp; &nbsp;or &nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#myModal">Request your own Shopping cart</a></div>
  #projects.portfolio
    .container
      .subtitle.text-center
        h1.title Our Projects
      .row.mt-40
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/anzac-full.jpg', data-lightbox='set')
              img(title='', src='../img/anzac-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/lanarkshire-full.jpg', data-lightbox='set')
              img(title='', src='../img/lanarkshire-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/ats-full.jpg', data-lightbox='set')
              img(title='', src='../img/ats-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/gascert-full.jpg', data-lightbox='set')
              img(title='', src='../img/gascert-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/guemili-full.jpg', data-lightbox='set')
              img(title='', src='../img/guemili-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/afs-resize.jpg', data-lightbox='set')
              img(title='', src='../img/afs-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/es-resize.jpg', data-lightbox='set')
              img(title='', src='../img/es-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/buzzin-resize.jpg', data-lightbox='set')
              img(title='', src='../img/buzzin-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/sbr.jpg', data-lightbox='set')
              img(title='', src='../img/sbr-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/tymad.jpg', data-lightbox='set')
              img(title='', src='../img/tymad-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/advance-resize.jpg', data-lightbox='set')
              img(title='', src='../img/advance-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/blind-resize.jpg', data-lightbox='set')
              img(src='../img/blind-resize1.jpg', alt='', width='350', height='221')
        .col-md-4.hidden-xs.hidden-sm
        .col-md-4.col-sm-6.text-center
          .span3
            a.example-image-link(href='../img/healthport.jpg', data-lightbox='set')
              img(src='../img/healthport-thumb.jpg', alt='', width='350', height='221')
        .col-md-4.hidden-xs.hidden-sm  
  #blogs.blogs
    .container
      .subtitle.mb-40
            h1.title.mt-0 Blogs
      .row
        .col-md-6.blog-left.slide-bottom
          h2.mt-0.title-border Recent Blogs
          #home-article
            each post in posts.orderBy('date', 'desc').slice(0,2)
              article.post-article
                .article-banner
                  a(href=post.permalink)
                    img(src= post.banner)
                .article-title
                  h3
                    a(href=post.permalink)= post.title
                .article-publish
                  ul
                    li By
                      span.author-name= post.writer
                    li Posted
                      span= dateFormat(post.date, 'LL')
                .article-body
                  p= post.shortdesc
                .article-more
                  a.btn.btn-primary.btn-lg.eq-ui-waves-light(href=post.permalink) Read More
          .more-entries.mt-20
            a(href="/recent-blog") More Entries
        .col-md-6.blog-right.sm-mt.slide-bottom
          .newsletter
            h2.title-border Join Newsletter
            p.mb-30
              | Subcribes to our newsletter by entering your email below to keep updated to our latest news and information.
            #mc_embed_signup.button-primary
              form#mc-embedded-subscribe-form.validate.eq-ui-input.validate(action='//webfactories.us3.list-manage.com/subscribe/post?u=8cb5583254702490f52f894ff&id=f81bd08495', method='post', name='mc-embedded-subscribe-form', novalidate='', target='_blank')
                .eq-ui-form-group.eq-ui-input-field
                  input#email_val.eq-ui-input.validate(name='EMAIL', required='', type='email', value='')
                  label(for='email_val', data-error='wrong', data-success='right') Email
                div(style='position: absolute; left: -5000px;')
                  input(name='b_8cb5583254702490f52f894ff_f81bd08495', type='text', value='')
                .clear
                  .eq-ui-form-group.eq-ui-input-field.form-btn
                    input#mc-embedded-subscribe.button.btn.btn-primary.eq-ui-waves-light(name='subscribe', type='submit', value='Subscribe')

            
